*.rbc
.rspec
/public/system
/converage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

/.bundle
/vendor/bundle

/db/*.sqlite3
/db/*.sqlite3-journal

/log/*.log
/tmp

.rvmrc

*.sublime-project
*.sublime-workspace
*.sublime-project
