<table class="attr">
<tr>
<th><%=form.label :name, "お名前" %></th>
</tr>
<tr>
<th><%=form.label :pronunciation, "ふりがら" %></th>
</tr>
<tr>
<th><%=form.label :phone_number, "内線番号" %></th>
</tr>
<tr>
<select department="部署">
<option>人事部</option>
   
 </select>
 </tr>
 </table>
