<form method="" action="">
 <p>
 氏名：<input type="text" name="" /><br>
 ふりがな：<input type="text" pronunciation="" /><br>
 内線番号：<input type="text" phone_number="" /><br>
 部署：
 <select department="部署">
   <option>事業統括室</option>
   <option>内部監査室</option>
   <option>人財開発室</option>
   <option>企画室</option>
   <option>社長室</option>
   <option>BS営業グループ</option>
   <option>BS事業推進グループ</option>
   <option>売れるしくみ推進室</option>
   <option>チェーンストア支援推進室</option>
   <option>共通基盤センター</option>
   <option>情報系ヘルプデスク</option>
   <option>NXセンター横浜オフィス</option>
   <option>NXセンター携帯問い合わせ窓口</option>
   <option>CD 1G</option>
   <option>CD 2G</option>
   <option>CD 3G</option>
   <option>CD 4G</option>
   <option>CD 企画グループ</option>
   <option>DM 1G</option>
   <option>DM 2G</option>
   <option>システム推進室</option>
   <option>お客様サービスG</option>
   <option>総合サービスG</option>
   <option>バリューアップG</option>
   <option>商品開発G</option>
   
 </select><br>
 <input type="submit" value="送信" />　
 <input type="reset" value="クリア" />
 </p>
</form>