<center><h1>内番検索ツール</h1></center>
<center><p>Nexwayシステムチーム</p></center>
<center><p>
<%= link_to '一覧表示', '/members/show' %>
</p></center>
<center><p>
<%= link_to '検索画面', '/members/create' %>
</P></center>
<center><p>(新規作成はまず↑検索してからね)</P></center>