<h1>内番検索ツール</h1>


  <thead>
    <tr>
      <th>部署</th>
      <th>名前</th>
      <th>読み方</th>
      <th>内線番号</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <p>
  <%= link_to '戻る', '/members' %>
  </p>
